# exclude images
images/
100_images*
# exclude attributes
layers/

# exclude all-*
all-*

# exclude archives
*.zip
# exclude csv
*.csv
# exclude generated metadata
metadata*
100_metadata*


# exclude complete metadata
*.json

